#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_V2_MMI
	tristate "Focaltech Touchscreen V2 MMI"
	default n
	help
	  Say Y here if you have Focaltech V2 MMI touch panel.
	  If unsure, say N.

config TOUCHSCREEN_FTS_V2_MMI_ENABLE_DOUBLE_TAP
	bool "Enable double tap"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable double tap functionality on Focaltech V2 MMI touch panel.
	  If unsure, say N.

config TOUCHSCREEN_FTS_V2_MMI_ENABLE_PALM
	bool "Enable palm sensing"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable palm sensing functionality on Focaltech V2 MMI touch panel.
	  If unsure, say N.
