#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_V2_MMI
	tristate "Moto Focaltech Touchscreen"
	depends on I2C
	default n
	help
	  Say Y here if you have Moto Focaltech touch panel.
	  If unsure, say N.

config INPUT_FOCALTECH_V2_MMI_IC_NAME_FT3518U
	bool "Focaltech Chip FT3518U"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable support for Focaltech FT8719 touch panel.
	  If unsure, say N.

config INPUT_FOCALTECH_V2_MMI_IC_NAME_FT5452I
	bool "Focaltech Chip FT5452I"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable support for Focaltech FT8756 touch panel.
	  If unsure, say N.

config TOUCHSCREEN_FTS_V2_MMI_GESTURES
	bool "Moto Focaltech Gestures"
	depends on TOUCHSCREEN_FTS_V2_MMI && INPUT_TOUCHSCREEN_MMI
	default n
	help
	  Say Y here to enable support for Moto gestures functionality.
	  If unsure, say N.

config TOUCHSCREEN_FTS_V2_MMI_ENABLE_DOUBLE_TAP
	bool "Moto Focaltech Double tap"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable support for double tap functionality on Focaltech touch panel.
	  If unsure, say N.

config TOUCHSCREEN_FTS_V2_MMI_ENABLE_PALM
	bool "Moto Focaltech Palm"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable support for Palm functionality on Focaltech touch panel.
	  If unsure, say N.

config TOUCHSCREEN_FTS_V2_MMI_PEN_NOTIFIER
	bool "Moto Focaltech Pen notifier"
	depends on TOUCHSCREEN_FTS_V2_MMI
	default n
	help
	  Say Y here to enable support for Pen notifier functionality on Focaltech touch panel.
	  If unsure, say N.
