#
# Goodix touchscreen driver configuration
#

config TOUCHSCREEN_GOODIX_GTX8_V1510_MMI
	tristate "Goodix GTx8 V1510 touchscreen"
	depends on I2C
	default n
	help
	  Say Y here if you have a Goodix GTx8 V1510 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called goodix_v1510_mmi.
